<div class="row" cdkDropListGroup>
  <div
    cdkDropList
    [cdkDropListEnterPredicate]="dropListEnterPredicate"
    (cdkDropListDropped)="dropListDropped()"
  ></div>
  <div
    cdkDropList
    class="col-md-4 mb-4"
    *ngFor="let item of items; let index = index"
    [cdkDropListEnterPredicate]="dropListEnterPredicate"
    (cdkDropListDropped)="dropListDropped()"
  >
    <div cdkDrag class="card" (cdkDragMoved)="dragMoved($event)">
      <h5
        class="card-header primary-color white-text d-flex justify-content-between"
      >
        <div>{{ item.title.substr(0, 30) }}...</div>
        <div class="handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </h5>
      <div class="card-body">
        <p class="card-text">{{ item.authors.join(', ').substr(0, 30) }}...</p>
        <div class="d-flex justify-content-between">
          <mdb-badge pill="true" info="true">{{ index }}</mdb-badge>
          <div>
            <a
              mdbTooltip="Read this article"
              placement="bottom"
              class="mr-1"
              href="{{ item.url }}"
              target="_blank"
            >
              <mdb-icon far icon="eye"></mdb-icon
            ></a>
            <bw-remove-item
              mdbTooltip="Remove this item"
              placement="bottom"
              [item]="item"
            ></bw-remove-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
