<div class="container">
  <div class="row justify-content-center">
    <h1 class="mt-3">Add a new user</h1>
  </div>
  <div class="row justify-content-center">
    <div *ngIf="formIsSubmitted; then userBlock; else formBlock"></div>
  </div>
</div>
<ng-template #formBlock>
  <form
    [formGroup]="addUserForm"
    class="col-5 mt-5 mb-5 border p-3"
    role="form"
    novalidate
    (ngSubmit)="submitForm()"
  >
    <div class="md-form">
      <label for="firstname">First name</label>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="firstname"
        formControlName="firstname"
        autocomplete="false"
        autocorrect="false"
      />
      <small
        *ngIf="firstname.errors && firstname.dirty"
        class="form-text text-muted"
      >
        <span [hidden]="!firstname.errors.required">
          A first name is required.
        </span>
        <span [hidden]="!firstname.errors.minlength">
          The first name must be at least 3 characters long.
        </span>
      </small>
    </div>
    <div class="md-form">
      <label for="lastname">Last name</label>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="lastname"
        formControlName="lastname"
        autocomplete="false"
        autocorrect="false"
      />
      <small
        *ngIf="lastname.errors && lastname.dirty"
        class="form-text text-muted"
      >
        <span [hidden]="!lastname.errors.required">
          A first name is required.
        </span>
        <span [hidden]="!lastname.errors.minlength">
          The last name must be at least 3 characters long.
        </span>
      </small>
    </div>
    <div class="md-form">
      <label for="email">E-mail address</label>
      <input
        mdbInput
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        autocomplete="false"
        autocorrect="false"
      />
      <small *ngIf="email.errors && email.dirty" class="form-text text-muted">
        <span [hidden]="!email.errors.required">
          An e-mail address is required.
        </span>
        <span [hidden]="!email.errors.email">
          The e-mail address entered is not valid.
        </span>
      </small>
    </div>
    <div *ngIf="currentUser.hasRole('ROOT')" class="md-form">
      <label for="role">Role(s)</label>
      <ngx-select-dropdown
        formControlName="roleControl"
        [multiple]="true"
        [options]="roles"
        [config]="config"
        autocomplete="false"
        autocorrect="false"
      ></ngx-select-dropdown>
      <small
        *ngIf="roleControl.errors && roleControl.dirty"
        class="form-text text-muted"
      >
        <span [hidden]="!roleControl.errors.required">
          The user's roles are required.
        </span>
      </small>
    </div>
    <div class="form-group form-row">
      <button
        type="submit"
        mdbBtn
        class="ml-auto"
        color="primary"
        mdbWavesEffect
        [disabled]="!addUserForm.valid"
      >
        Create
      </button>
    </div>
  </form>
</ng-template>
<ng-template #userBlock>
  <div class="jumbotron">
    <h1 class="display-4">User registered!</h1>
    <p class="lead">
      The user
      <span class="font-weight-bold"
        >{{ newUser.firstname }} {{ newUser.lastname }}</span
      >
      has been registered. You can contact him in order to send him his login
      credentials.
    </p>
    <hr class="my-2" />
    <p>
      <span class="font-weight-bold">Login: </span>{{ newUser.email }}
    </p>
    <p>
      <span class="font-weight-bold">Password: </span>{{ passwordUser }}
    </p>
    <button
      class="btn btn-primary float-right mt-4"
      (click)="goHome()"
      role="button"
    >
      Ok
    </button>
  </div>
</ng-template>
