<ng-container *ngIf="course$ | async as course">
  <div class="container">
    <div class="row justify-content-center">
      <div class="jumbotron col-md-3 text-center hoverable mt-5 px-2 pt-2 pb-3" (click)="detailCourse()">
        <div class="row">
          <div class="mx-4 my-3">
            <div class="view overlay">
              <img
                src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg"
                class="img-fluid"
                alt="Course image"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-md-left mx-2 mt-3">
            <h4 class="h4 mb-4">{{ course.name }}</h4>
            <p class="font-weight-normal">
              par <a><strong>Carine Fox</strong></a
              >, mise à jour le {{ course.dateUpdate | date: 'dd/MM/yyyy' }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <ul class="stepper stepper-vertical">
          <li>
            <a>
              <span class="circle">
                <mdb-icon fas icon="folder-open"></mdb-icon>
              </span>
              <span class="label">Début du parcours</span>
            </a>
          </li>
          <ng-container *ngFor="let article of course.articles">
            <li class="active">
              <a href="{{ article.url }}" target="_blank">
                <span class="circle">
                  <mdb-icon fas icon="file-alt"></mdb-icon>
                </span>
                <span class="label">{{ article.title }}</span>
              </a>
              <div class="step-content">
                <mdb-card class="w-100">
                  <mdb-card-body>
                    <mdb-card-title>
                      <h5>{{ article.title }}</h5>
                      <h6 class="text-muted mb-2">
                        <small>{{ article.authors.join(', ') }}</small>
                      </h6>
                    </mdb-card-title>
                    <mdb-card-text> {{ article.abstract }} </mdb-card-text>
                    <div class="d-flex justify-content-start">
                      <a
                        href="{{ article.url }}"
                        target="_blank"
                        mdbBtn
                        color="primary"
                        >Consulter</a
                      >
                    </div>
                  </mdb-card-body>
                  <mdb-card-footer
                    ><small class="text-muted"
                      >{{ article.journal }} - {{ article.year }} -
                      {{ article.doi }}</small
                    >
                  </mdb-card-footer>
                </mdb-card>
              </div>
            </li>
          </ng-container>
          <li class="warning">
            <a>
              <span class="circle">
                <mdb-icon fas icon="medal"></mdb-icon>
              </span>
              <span class="label">Fin du parcours</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
