<form [formGroup]="searchForm" novalidate (ngSubmit)="submit()" role="form">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <div class="md-form">
                <input mdbInput class="form-control" formControlName="search" type="text" id="search"
                    aria-label="Rechercher" autocomplete="false" autocorrect="false">
                <label for="search">Effectuez votre recherche</label>
            </div>
        </div>
        <div class="col-1">
            <button type="submit" mdbBtn mdbWavesEffect color="primary">
                <mdb-icon fas icon="search"></mdb-icon>
            </button>
        </div>
    </div>
</form>