<div class="container">
    <div class="row">
        <div class="col-md-2 mt-2">
            <bw-add-course></bw-add-course>
        </div>
        <div class="col-md-10 mt-3">
            <ng-container *ngIf="(courses$ | async) as courses">
                <div *ngIf="courses?.length; else elseBlock" class="row">
                    <div *ngFor="let course of courses" class="col-md-4">
                        <bw-course-user [course]="course" (removeCourse)="remove($event)"></bw-course-user>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="jumbotron">
        <h1 class="display-4">No courses found.</h1>
        <p class="lead">You have not yet created a learning path.</p>
        <p class="lead">Click on the add a learning path button to get started.</p>
    </div>
</ng-template>