<mdb-navbar [SideClass]="getClassNav()">
    <mdb-navbar-brand>
        <a class="navbar-brand" (click)="navigate(homePath)">Bewoak</a>
    </mdb-navbar-brand>

    <links>
        <ul class="navbar-nav mr-auto">
            <li *ngIf="user?.hasRole('EXPERT')" dropdown class="nav-item" [class.active]='isActive(dashboardPath)'>
                <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" type="button"
                    aria-haspopup="true" aria-expanded="false">
                    Dashboard<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
                    <a mdbWavesEffect class="dropdown-item waves-light" (click)="navigate(manageCoursePath)">Manage my courses</a>
                </div>
            </li>
            <li *ngIf="user?.hasRole('ADMIN')" dropdown class="nav-item" [class.active]="isActive(adminPath)">
                <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle" type="button" aria-haspopup="true"
                    aria-expanded="false">
                    Administration<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
                    <a mdbWavesEffect class="dropdown-item waves-light" (click)="navigate(addUserPath)">Add a user</a>
                </div>
            </li>
            <li *ngIf="!user" [class.active]='isActive(loginPath)' class="nav-item">
                <a mdbWavesEffect class="nav-link waves-light" (click)="navigate(loginPath)">Login</a>
            </li>
        </ul>
        <ul *ngIf="user" class="navbar-nav">
            <li dropdown class="nav-item" [class.active]="isActive(settingsPath)">
                <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" type="button"
                    aria-haspopup="true" aria-expanded="false">
                    <mdb-icon fas icon="user"></mdb-icon> {{ user.firstname }}<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown dropdown-menu">
                    <a mdbWavesEffect class="dropdown-item waves-light"
                        (click)="navigate(settingsProfilePath)">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a mdbWavesEffect class="dropdown-item waves-light" (click)="logOut()">Logout</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>