<ng-container *ngIf="course$ | async as course">
  <div class="container">
    <div class="row justify-content-center">
      <div class="jumbotron col-md-3 text-center hoverable mt-5 px-2 pt-2 pb-3">
        <div class="row">
          <div class="mx-4 my-3">
            <div class="view overlay">
              <img
                src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg"
                class="img-fluid"
                alt="Course image"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-md-left mx-2 mt-3">
            <a href="#!" class="green-text">
              <h6 class="h6 pb-1">
                <mdb-icon fas icon="desktop" class="pr-1"></mdb-icon> Course
              </h6>
            </a>

            <h4 class="h4 mb-4">{{ course.name }}</h4>

            <p class="font-weight-normal text-justify">
              {{ course.description }}
            </p>
            <p class="font-weight-normal">
              by <a><strong>Carine Fox</strong></a
              >, updated at {{ course.dateUpdate | date: 'dd/MM/yyyy' }}
            </p>

            <a mdbBtn color="success" (click)="editCourse()" mdbWavesEffect
              >Edit</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <ul class="stepper stepper-vertical">
          <li>
            <a>
              <span class="circle">
                <mdb-icon fas icon="folder-open"></mdb-icon>
              </span>
              <span class="label">Start</span>
            </a>
          </li>
          <ng-container
            *ngFor="let item of course.items; let index = index"
          >
            <li class="active">
              <a href="{{ item.url }}" target="_blank">
                <span class="circle">
                  <mdb-icon fas icon="file-alt"></mdb-icon>
                </span>
                <span class="label">Item n°{{ index + 1 }}</span>
              </a>
              <div class="step-content">
                <mdb-card class="w-10">
                  <mdb-card-body>
                    <mdb-card-title>
                      <h5>{{ item.title }}</h5>
                      <h6 class="text-muted mb-2">
                        <small>{{ item.authors.join(', ') }}</small>
                      </h6>
                    </mdb-card-title>
                    <mdb-card-text>
                      {{ item.abstract }}
                    </mdb-card-text>
                    <div class="d-flex justify-content-start">
                      <a
                        href="{{ item.url }}"
                        target="_blank"
                        mdbBtn
                        color="primary"
                        >Read</a
                      >
                      <bw-remove-item
                        [item]="item"
                      ></bw-remove-item>
                    </div>
                  </mdb-card-body>
                  <mdb-card-footer
                    ><small class="text-muted"
                      >{{ item.journal }} - {{ item.year }} - doi:
                      {{ item.doi }}</small
                    >
                  </mdb-card-footer>
                </mdb-card>
              </div>
            </li>
          </ng-container>
          <li class="warning">
            <a (click)="addItem()">
              <span class="circle">
                <mdb-icon fas icon="plus-circle" size="2x"></mdb-icon>
              </span>
              <span class="label">Add an item</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
