<ng-container *ngIf="course$ | async as course">
  <div class="container">
    <div class="row justify-content-center">
      <div class="jumbotron col-md-3 text-center hoverable mt-5 px-2 pt-2 pb-3">
        <div class="row">
          <div class="mx-4 my-3">
            <div class="view overlay">
              <img
                src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg"
                class="img-fluid"
                alt="Course image"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-md-left mx-2 mt-3">
            <a href="#!" class="green-text">
              <h6 class="h6 pb-1">
                <mdb-icon fas icon="desktop" class="pr-1"></mdb-icon> Course
              </h6>
            </a>

            <h4 class="h4 mb-4">{{ course.name }}</h4>

            <p class="font-weight-normal text-justify">
              {{ course.description }}
            </p>
            <p class="font-weight-normal">
              by <a><strong>Carine Fox</strong></a
              >, updated at {{ course.dateUpdate | date: 'dd/MM/yyyy' }}
            </p>

            <a mdbBtn color="success" (click)="editCourse()" mdbWavesEffect
              >Edit</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-9 p-5">
        <div class="row justify-content-center">
          <div class="col-md-4 mb-4">
            <div class="card hoverable add-item" (click)="addItem()">
              <div
                class="card-body d-flex align-items-center justify-content-center"
              >
                <div class="d-flex align-items-center">
                  <span class="circle mr-1">
                    <mdb-icon fas icon="puzzle-piece" size="2x"></mdb-icon>
                  </span>
                  <span class="label">Add an item</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <bw-edit-items [items]="course.items"></bw-edit-items>
      </div>
    </div>
  </div>
</ng-container>
