<div class="modal-body">
    <ng-container *ngIf="article.value; then articleBlock else doiBlock"></ng-container>
</div>
<ng-template #doiBlock>
    <form [formGroup]="formDoi" role="form" (ngSubmit)="preview()" novalidate>
        <div class="md-form">
            <input mdbInput id="doi" formControlName="doi" name="doi" class="form-control" type="text"
                autocomplete="false" autocorrect="false">
            <label for="doi">Rechercher un article via son DOI*</label>
            <mdb-error *ngIf="doi.errors && doi.dirty && doi.errors.required">Un identifiant DOI est requis.</mdb-error>
            <mdb-error *ngIf="doi.errors && doi.dirty && doi.errors.pattern">L'identifiant DOI n'est pas valide (eg:
                10.1000/123456...).</mdb-error>
        </div>
        <div class="form-group form-row">
            <button type="submit" mdbWavesEffect mdbBtn class="ml-auto" color="success" [disabled]="!formDoi.valid">
                Visualiser
            </button>
        </div>
    </form>
</ng-template>
<ng-template #articleBlock>
    <form [formGroup]="formArticle" role="form" (ngSubmit)="submit()" novalidate>
        <div class="md-form">
            <input mdbInput type="text" class="form-control" id="title" formControlName="title" autocomplete="false"
                autocorrect="false">
            <label for="title">Title</label>
            <mdb-error *ngIf="title.errors && title.dirty && title.errors.required">Un titre est requis.</mdb-error>
        </div>
        <div class="md-form">
            <textarea type="text" id="abstract" class="md-textarea md-textarea-auto form-control"
                formControlName="abstract" autocomplete="false" autocorrect="false" mdbInput></textarea>
            <label for="abstract">Abstract</label>
            <mdb-error *ngIf="abstract.errors && abstract.dirty && abstract.errors.required">Un abstract est requis.
            </mdb-error>
            <mdb-error *ngIf="abstract.errors && abstract.dirty && abstract.errors.minlength">L'abstract doit contenir
                au moins 100 caractères.</mdb-error>
        </div>
        <div class="form-group form-row">
            <button (click)="cancel()" mdbWavesEffect mdbBtn color="primary" class="mb-2">
                Reset
            </button>
            <button (click)="submit()" mdbWavesEffect mdbBtn color="success" class="mb-2 ml-auto"
                [disabled]="!formArticle.valid">
                Valid
            </button>
        </div>
    </form>
</ng-template>